extends layout
block head
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .panel-container
      br
      br
      br
      .panel VetGuards is an on demand app centric security request system to hire veterans for security assignments. VetGuards is 100% veteran owned and 100% veteran staffed
