extends layout
block head
  link(rel='stylesheet', href='/stylesheets/login-and-signup.css')

block content
    div.stars

    form.login-form(name="login" method="post")
      span.login-form-contents
        div Email sent.          