extends layout
block head
  link(rel='stylesheet', href='/stylesheets/login-and-signup.css')

block content
  div.stars
  form.signup-form(name="signup" method="post")
    span.signup-form-contents
      div.login-form-title(style='white-space:pre;')
          |Reset your password
      if errors
        div.errors
          each error in errors
            span.error=errors
      else
        div.input
          div.label Password
          input.textbox(type="password", name="password", id="password", required)
          div.label Confirm Password
          input.textbox(type="password", name="confirm_password", id="confirm_password", required)
        div.actions
          input.submit(type="submit", value="Submit")

    script.
      var password = document.getElementById("password")
      , confirm_password = document.getElementById("confirm_password");

      function validatePassword(){
        if(password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;

