.map-container {
  display: flex;
  justify-content: space-around;
}

.map {
  width: 225px;
  height: 175px;
  display: inline-block;
}

.map-label {
  width: 225px;
}

.panel-container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.panel-footer-custom {
  margin-top: 20px;
  display: flex
}

.cost {
  padding-right: 10px;
}

.request-container {
  padding: 8px 0px;
  font-size: 18px;
}

.request-container:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.edit-booking {
  margin-left: auto;
  margin-right: 15px;
  margin-top: 25px;
}

.message {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
