.map-container {
  display: flex;
  justify-content: space-around;
}

.map {
  width: 225px; 
  height: 175px;
  display: inline-block;
}

.map-label {
  width: 225px;
}

.confirmation-text {
  font-size: 20 px;
}